{% extends "base.html" %}
{% block title %}
    <h1>TRACKER</h1>
{% endblock %}


{% block content %}
<h2>Add Sleep Entry</h2>

<form method="POST" action="{{ url_for('Track') }}" class="mb-4">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="date" placeholder="Date">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="sleeptime" placeholder="Sleep Time">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="waketime" placeholder="Wake Time">
        </div>
        <div class="col">
            <button class="btn btn-success">Add</button>
        </div>
    </div>
</form>

<hr>

     <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Sleep Time</th>
                <th scope="col">Wake Time</th>
                <th scope="col">Duration</th>

            </tr>
        </thead>
        <tbody>
            {% for sleep in sleep_data %}
            <tr>
                <td>{{ sleep.num }}</td>
                <td>{{ sleep.date }}</td>
                <td>{{ sleep.sleeptime }}</td>
                <td>{{ sleep.waketime }}</td>
                <td>{{ sleep.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
{% endblock %}