{% extends "base.html" %}
{% block title %}
    <h1>TRACKER</h1>
{% endblock %}

{% block content %}
     <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Sleep Time</th>
                <th scope="col">Wake Time</th>
                <th scope="col">Duration</th>

            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.sleeptime }}</td>
                <td>{{ data.waketime }}</td>
                <td>{{ data.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
{% endblock %}